{% extends 'base.html.twig' %}

{% block title %}Bem Vindo!{% endblock %}

{% block body %}

    <div class="starter-template">
        <h1 class="display-1">PetShop</h1>
        <p class="lead">Bem Vindo ao sistema de petshop para seu animal.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-dark mt-3">
                {% for qts in qtsAnimais %}
                    <tr>
                        <th>{{ qts.nome }}</th>
                        <td>{{ qts.qtde }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-dark mt-3">
                {% for qtd in qtdRaca %}
                    <tr>
                        <th>{{ qtd.nome }}</th>
                        <td>{{ qtd.qtde }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
