<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">

    <title>{% block title %} {% endblock %} PetShop</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="{{ asset('componets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <style>
        body {
            background: #a1ada8;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/style/starter-template.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('default') }}">Pet Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)default(.*)/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('default') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)cliente(.*)/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('listar_clientes') }}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get("_route") matches '/(.*)anima(.*)/' %}active{% endif %}" href="{{ path('listar_animais') }}">Animais</a>
            </li>
            <li>
{#                <a class="nav-link text-white" style="text-align-all: right">{{ nome }}</a>#}
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    {% block body %} {% endblock %}

</main><!-- /.container -->
<script type="text/javascript" src="{{ asset('componets/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('componets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
