{% extends 'base.html.twig' %}

{% block title %}Cadastrar Cliente - {% endblock %}

{% block body %}
    <h1>Cadastrar Cliente</h1>
    <hr>
    {{ form(form) }}
{#    {{ form_start(form) }}#}
{#        <div class="form-group">#}
{#            {{ form_label(form.nome ) }}#}
{#            {{ form_widget(form.nome ) }}#}
{#            {{ form_errors(form.nome ) }}#}
{#        </div>#}
{% endblock %}


