{% extends 'base.html.twig' %}

{% block title %}Listagem de Clientes{% endblock %}

{% block body %}

    <h1>Listagem de Clientes</h1>
    <h2>{{ sessao }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('cadastrar_cliente') }}" class="btn btn-primary pull-right">Cadastrar Cliente</a>
        </div>
    </div>
    <table class="table table-hover table-striped table-dark mt-3">
        <thead>
        <tr>
            <th>Cod</th>
            <th>Nome</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td><a href="{{ path('visualiazar_cliente', {'id': cliente.id}) }}">{{ cliente.nome }}</a></td>
            <td>{{ cliente.email }}</td>
        </tr>
            {% else %}
                <tr>
                    <td colspan="3" align="center">Nenhum registro encontrado!</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
