{% extends 'base.html.twig' %}

{% block title %} {{ cliente.nome }} - Visualizar Cliente - {% endblock %}

{% block body %}
    <h1>Visualizando Cliente - {{ cliente.nome }}</h1>
    <table class="table table striped table-dark mt-3">
        <tr>
            <th colspan="2">Dados do Cliente</th>
        </tr>
        <tr>
            <th>Cod.</th>
            <td>{{ cliente.id }}</td>
        </tr>

        <tr>
            <th>Nome</th>
            <td>{{ cliente.nome }}</td>
        </tr>

        <tr>
            <th>Telefone</th>
            <td>{{ cliente.telefone }}</td>
        </tr>

        <tr>
            <th>E-mail</th>
            <td>{{ cliente.email }}</td>
        </tr>

        <tr>
            <th colspan="2">Endereco do Cliente</th>
        </tr>
        <tr>
            <th>Rua</th>
            <td>{{ cliente.endereco.rua }}</td>
        </tr>

        <tr>
            <th>Bairro</th>
            <td>{{ cliente.endereco.bairro }}</td>
        </tr>

        <tr>
            <th>Número</th>
            <td>{{ cliente.endereco.numero }}</td>
        </tr>
    </table>
{% endblock %}


